# Python
venv/
backend/venv/
__pycache__/
backend/app/__pycache__/
backend/app/nlp/__pycache__/
backend/app/routes/__pycache__/
backend/app/models/__pycache__/
backend/app/utils/__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store
Thumbs.db
